VITE_ENVIRONMENT=development

VITE_SUPABASE_URL=http://localhost:54321
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_ACJWlzQHlZjBrEguHvfOxg_3BJgxAaH
VITE_API_URL=http://localhost:8000/api

VITE_OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:5173/otel/v1/traces
OTEL_PROXY_TARGET=http://host.docker.internal:4318
