# Environment
ENVIRONMENT=development

# Supabase (supabase CLI has determinisitic keys for local projects)
SUPABASE_URL=http://supabase_kong_StrideTrack:8000
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJFUzI1NiIsImtpZCI6ImI4MTI2OWYxLTIxZDgtNGYyZS1iNzE5LWMyMjQwYTg0MGQ5MCIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZS1kZW1vIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImV4cCI6MjA4MzYxMDUyNX0._adST7xPYDzHnoi7IQeufCH9RhxQHS6XUG2RfLn8wMr9Yu0KnPHbEH4qUKK5DjqaAuNor1xL2xdyEqLcKCs5Iw

# OpenTelemetry
OTEL_ENDPOINT=
OTEL_PYTHON_LOG_CORRELATION=true