# Environment
ENVIRONMENT=development

# Supabase
SUPABASE_URL=http://supabase_kong_StrideTrack:8000
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key-here

# OpenTelemetry
OTEL_ENDPOINT=
OTEL_PYTHON_LOG_CORRELATION=true